[submodule "deps/javascriptlint"]
	path = deps/javascriptlint
	url = https://github.com/davepacheco/javascriptlint
[submodule "deps/jsstyle"]
	path = deps/jsstyle
	url = https://github.com/davepacheco/jsstyle
[submodule "deps/restdown"]
	path = deps/restdown
	url = https://github.com/trentm/restdown
