services:
  openldap:
    image: ghcr.io/ldapjs/docker-test-openldap/openldap:2023-10-30
    ports:
      - 389:389
      - 636:636
    healthcheck:
      start_period: 3s
      test: >
        /usr/bin/ldapsearch -Y EXTERNAL -Q -H ldapi:// -b ou=people,dc=planetexpress,dc=com -LLL '(cn=Turanga Leela)' cn 1>/dev/null
